* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	font-family: 'Georgia', serif;
	/* The image used */
	/*background-image: url("images/bg2.png");*/
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

body, html {
  height: 100%;

}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    padding-bottom: 3%;
    border: 0;
}

.titles {
	text-align: center;
	border-color: gray;
	height: 100%;
	margin: 0;
}

.parallax {
  /* The image used */
  background-image: url("images/c.png");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url("images/carousel.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  /* The image used */
  background-image: url("images/bg1.png");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {
  /* The image used */
  background-image: url("images/contact.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax5 {
  /* The image used */
  background-image: url("images/tools.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
	margin: 0;
	border: 0;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.overlay {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay h2 {
    background: #000 none repeat scroll 0 0;
    color: silver;
    font-weight: 1;
    font-size: 50px;
    margin: 2rem 3rem 0;
    mix-blend-mode: screen;
    padding: 5px 15px;
    text-align: center;
}

#email {
    color: #000;
    text-decoration: none;
}

#icon {
	width:42px;
	height:42px;
}

#bar1 {
	width: 90%;
}

#bar2 {
	width: 20%;
}

#bar3 {
	width: 10%;
}